@page "/"
@using System.Net.Mail
@using System.Net

<PageTitle>HundOgKat kørselsregistering</PageTitle>
<header>
	<img class="center-image" src="img\logo2.png" />
	<h1 class="center-text">Kørselsregistrering</h1>
</header>

<br />
<div id="driver-selection">
	<h1 class="center-text">Hvem er ude og køre?</h1>
	<div class="driver-div justify-content-center">
		<button class="driver-btn" type="submit" @onclick="@(() => RegisterDriver("Birthe"))">Birthe</button>
		<button class="driver-btn" type="submit" @onclick="@(() => RegisterDriver("Hans"))">Hans</button>
		<button class="driver-btn" type="submit" @onclick="@(() => RegisterDriver("Klaus"))">Klaus</button>
	</div>
</div>

<br />

<div id="destination-selection">
	<h1 class="center-text">Vælg destination.</h1>
	<div class="destination-div justify-content-center">
		<a href="@_mailTo"><button type="submit" @onclick="@(() => RegisterDrivingActivity("Posthus (strandgade)", "5.3"))">✉️ Posthus (Strandgade)</button></a>
		<a href="@_mailTo"><button type="submit" @onclick="@(() => RegisterDrivingActivity("Harald Nyborg", "6.4"))">🛠️ Harald Nyborg</button></a>
		<a href="@_mailTo"><button type="submit" @onclick="@(() => RegisterDrivingActivity("Ugleapoteket", "2.2"))">💊Ugleapoteket</button></a>
		<a href="@_mailTo"><button type="submit" @onclick="@(() => RegisterDrivingActivity("Kennel", "13.1"))">🐶 Kennel</button></a>
		<a href="@_mailTo"><button type="submit" @onclick="@(() => RegisterDrivingActivity("Maxi Zoo", "17.5"))">🐕‍🦺 Maxi Zoo</button></a>
		<a href="@_mailTo"><button type="submit" @onclick="@(() => RegisterDrivingActivity("Krematorie", "30.8"))">🪦 Krematorie</button></a>
		<a href="@_mailTo"><button type="submit" @onclick="@(() => RegisterDrivingActivity("Silvan", "10.9"))">🛠️ Silvan</button></a>
		<a href="@_mailTo"><button type="submit" @onclick="@(() => RegisterDrivingActivity("ANGIV DESTINATION", "ANGIV AFSTAND I"))">❓ Andet</button></a>
	</div>
</div>

@code{



	string _driver;
	string _mailContent;
	string _mailTo;
	string _date;
	string _mailAddress = "hundogkataps@gmail.com";

	private void RegisterDriver(string driver){
		_driver = driver;
	}

	private void RegisterDrivingActivity(string selectedDestination, string km){
		string destination = selectedDestination;
		string destinationKm = km.ToString() + " km";
		string date = DateTime.Now.ToString();

		GenerateMailContent(destination, destinationKm, date);
	}

	private void GenerateMailContent(string destination, string destinationKm, string date){
		_mailContent = $"Chauffør: {_driver} %0D%0A" + // %0D%0A is the HTML equivalent of \n.
					   $"Destination: {destination} %0D%0A" +
					   $"Antal km kørt: {destinationKm} %0D%0A" +
					   $"Dato for kørsel: {date}";

		_date = DateTime.Now.ToString();


		_mailTo = $"mailto:{_mailAddress}?subject=Kørselsregistering {_date}&body={_mailContent}";


	}
}